@import 'settings';
@import 'foundation-emails';

@import 'template/template';
@import 'fonts';

body {
    font-family: Exo, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.08px;
  }

h1, h2, h3, h4, h5, p, a, li {
    font-family: Exo, Helvetica, sans-serif;
}

h1, h2, h3 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3ac1c6;
    font-weight: 400;
}

b, a, strong a {
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: #3ac1c6;
    }
}

td {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

.text-center, .text-center p, .text-center a {
    text-align: center; 
}

table.container {
    background-color: unset;
}



.body {

    .header {
        background-image: url('https://www.aarenson.hu/wp-content/themes/aarenson/images/background.png');
        background-color: #12163a;
        background-position: center top;
        height: 100px;
        width: 100%;
    }

    .page-body {
        background-color: #f3f4f5;
        h2 {
            padding: 10px 0;
        }

        ul {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;

            li {
                padding-top: 5px;
                padding-left: 30px;
                background-image: url('https://www.aarenson.hu/wp-content/uploads/emblem-turquoise.png');
                background-position: 0px 5px;
                background-size: 18px;
                background-repeat: no-repeat;
                list-style-type: none;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .outro {
            @media (max-width: #{$global-breakpoint}) {
                .outro-image {
                    img {
                        max-width: 250px;
                    }
                }

                .outro-text {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    .footer {
        p, a {
            font-size: 12px;
        }

        .unsub {
            margin-top:5px;
        }
    }
}

.hidden-mobile {
    @media (max-width: #{$global-breakpoint}) {
      display: none !important;
    }
  }