/* vietnamese */
@font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 100;
    src: local('Exo Thin Italic'), local('Exo-ThinItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaCrEtFpBISdkbC4DrG4pXI.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 100;
    src: local('Exo Thin Italic'), local('Exo-ThinItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaCrEtFpBISdkbC4DvG4pXI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 100;
    src: local('Exo Thin Italic'), local('Exo-ThinItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaCrEtFpBISdkbC4DXG4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 200;
    src: local('Exo ExtraLight Italic'), local('Exo-ExtraLightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZu8SLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 200;
    src: local('Exo ExtraLight Italic'), local('Exo-ExtraLightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZu8SLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 200;
    src: local('Exo ExtraLight Italic'), local('Exo-ExtraLightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZu8SLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 300;
    src: local('Exo Light Italic'), local('Exo-LightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYK8iLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 300;
    src: local('Exo Light Italic'), local('Exo-LightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYK8iLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 300;
    src: local('Exo Light Italic'), local('Exo-LightItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYK8iLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 400;
    src: local('Exo Italic'), local('Exo-Italic'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBISdk6u0Dfe5g.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 400;
    src: local('Exo Italic'), local('Exo-Italic'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBISdk6v0Dfe5g.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 400;
    src: local('Exo Italic'), local('Exo-Italic'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBISdk6h0Dc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 500;
    src: local('Exo Medium Italic'), local('Exo-MediumItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZS8yLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 500;
    src: local('Exo Medium Italic'), local('Exo-MediumItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZS8yLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 500;
    src: local('Exo Medium Italic'), local('Exo-MediumItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZS8yLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 600;
    src: local('Exo SemiBold Italic'), local('Exo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZ-9CLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 600;
    src: local('Exo SemiBold Italic'), local('Exo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZ-9CLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 600;
    src: local('Exo SemiBold Italic'), local('Exo-SemiBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkZ-9CLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    src: local('Exo Bold Italic'), local('Exo-BoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYa9SLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    src: local('Exo Bold Italic'), local('Exo-BoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYa9SLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    src: local('Exo Bold Italic'), local('Exo-BoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYa9SLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 800;
    src: local('Exo ExtraBold Italic'), local('Exo-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYG9iLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 800;
    src: local('Exo ExtraBold Italic'), local('Exo-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYG9iLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 800;
    src: local('Exo ExtraBold Italic'), local('Exo-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYG9iLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 900;
    src: local('Exo Black Italic'), local('Exo-BlackItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYi9yLux6jx4w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 900;
    src: local('Exo Black Italic'), local('Exo-BlackItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYi9yLvx6jx4w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: italic;
    font-weight: 900;
    src: local('Exo Black Italic'), local('Exo-BlackItalic'), url(https://fonts.gstatic.com/s/exo/v9/4UaBrEtFpBISdkYi9yLhx6g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: local('Exo Thin'), local('Exo-Thin'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBIaEE6u0Dfe5g.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: local('Exo Thin'), local('Exo-Thin'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBIaEE6v0Dfe5g.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: local('Exo Thin'), local('Exo-Thin'), url(https://fonts.gstatic.com/s/exo/v9/4UaMrEtFpBIaEE6h0Dc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    src: local('Exo ExtraLight'), local('Exo-ExtraLight'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIavF-2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    src: local('Exo ExtraLight'), local('Exo-ExtraLight'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIavF-2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 200;
    src: local('Exo ExtraLight'), local('Exo-ExtraLight'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIavF-29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: local('Exo Light'), local('Exo-Light'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa2Fy2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: local('Exo Light'), local('Exo-Light'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa2Fy2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 300;
    src: local('Exo Light'), local('Exo-Light'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa2Fy29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v9/4UaOrEtFpBISfH6jyDM.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v9/4UaOrEtFpBISfX6jyDM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v9/4UaOrEtFpBISc36j.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: local('Exo Medium'), local('Exo-Medium'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIagF22-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: local('Exo Medium'), local('Exo-Medium'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIagF22-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: local('Exo Medium'), local('Exo-Medium'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIagF229xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: local('Exo SemiBold'), local('Exo-SemiBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIarFq2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: local('Exo SemiBold'), local('Exo-SemiBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIarFq2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    src: local('Exo SemiBold'), local('Exo-SemiBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIarFq29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: local('Exo Bold'), local('Exo-Bold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIayFu2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: local('Exo Bold'), local('Exo-Bold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIayFu2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: local('Exo Bold'), local('Exo-Bold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIayFu29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa1Fi2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa1Fi2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa1Fi29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: local('Exo Black'), local('Exo-Black'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa8Fm2-BLj36w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: local('Exo Black'), local('Exo-Black'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa8Fm2-RLj36w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 900;
    src: local('Exo Black'), local('Exo-Black'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIa8Fm29xLj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  