{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{subject}}</title>
		<!-- <style> -->
	</head>
	<body>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center>
						<container>
							<row class="header">
								<columns small="4" class="first">
									<spacer size="32"></spacer>
										<a href="https://aarenson.hu" target="_blank"><img src="https://www.aarenson.hu/wp-content/uploads/logo-white.png" class="logo" alt=""/></a>
								</columns>
								<columns small="8"></columns>
							</row>
						</container>
						{{> body}}
						<container>
							<row class="footer">
								<columns class="text-center">
									<spacer size="16"></spacer>
									<p>© 2005-2019 | Aarenson Consulting Kft. – Minden jog fenntartva</p>
									<p class="unsub">Tisztelt Partnerünk! Ez nem rendszeres hírlevél, és ahogyan eddig is, úgy a jövőben is csak indokolt esetben zavarjuk levelünkkel Önt. Ha mégis azt kéri, hogy ne kezdeményezzük a kapcsolatot újra, kérem egy rövid e-mailben jelezze.</p>
								</columns>
							</row>
						</container>
					</center>
				</td>
			</tr>
		</table>
		<!-- prevent Gmail on iOS font size manipulation -->
		<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
	</body>
</html>