---
subject: 2020 április hírlevél
---


	<container class="page-body">
		<spacer size="16"></spacer>
		<row class="content">
			<columns>
				<h2>Tisztelt korábbi Ügyfelünk!</h2>
				<p>A vá&shy;rat&shy;lan gaz&shy;da&shy;sági-, és élet&shy;hely&shy;zet át&shy;me&shy;ne&shy;ti újra&shy;ren&shy;de&shy;ző&shy;dést ge&shy;ne&shy;rált a mun&shy;ka&shy;e&shy;rő&shy;pi&shy;a&shy;con is. En&shy;nek ered&shy;mé&shy;nye, hogy elér&shy;he&shy;tőb&shy;bé vál&shy;tak a kur&shy;rens szak&shy;em&shy;be&shy;rek. Ugyan&shy;ak&shy;kor az is lát&shy;szik, hogy ez egy rö&shy;vid, idő&shy;le&shy;ges hely&shy;zet, amely&shy;nek az idő&shy;ben re&shy;a&shy;gá&shy;ló cé&shy;gek lesz&shy;nek a nyer&shy;te&shy;sei.</p>
				<p>Vé&shy;gez&shy;tünk egy fel&shy;mé&shy;rést je&shy;len&shy;le&shy;g is ak&shy;tív part&shy;ne&shy;re&shy;ink kö&shy;zött, ahol azt kér&shy;dez&shy;tük, mi len&shy;ne az a HR-es szol&shy;gál&shy;ta&shy;tás&shy;cso&shy;mag, a&shy;mely a leg&shy;ha&shy;té&shy;ko&shy;nyabb vá&shy;laszt ad&shy;ja er&shy;re a ki&shy;hí&shy;vás&shy;ra.</p>
				<p>Az így meg&shy;szer&shy;zett in&shy;for&shy;má&shy;ci&shy;ók mel&shy;lé hoz&shy;zá&shy;tet&shy;tük a 2008-as vál&shy;ság ke&shy;ze&shy;lé&shy;sé&shy;ben szer&shy;zett ta&shy;pasz&shy;ta&shy;la&shy;ta&shy;in&shy;kat is, hi&shy;szen ak&shy;kor is több cég szá&shy;má&shy;ra al&shy;a&shy;poz&shy;tuk meg a gyors ki&shy;lá&shy;ba&shy;lást és ké&shy;sőb&shy;bi si&shy;ke&shy;re&shy;ket.</p>
				<p>E&shy;zek a&shy;lap&shy;ján fejvadász cé&shy;günk, az Aarenson Consulting ar&shy;ra ju&shy;tott, hogy a gyorsaság mellett most há&shy;rom szem&shy;pont min&shy;den ko&shy;ráb&shy;bi&shy;nál fon&shy;to&shy;sabb ügy&shy;fe&shy;le&shy;ink&shy;nek:</p>
				<ul>
					<li>a ki&shy;szá&shy;mít&shy;ha&shy;tó&shy;ság</li>
					<li>a ter&shy;vez&shy;he&shy;tő, a&shy;la&shy;cso&shy;nyan tar&shy;tott költ&shy;sé&shy;gek</li>
					<li>és a hosszabb ga&shy;ran&shy;cia</li>
				</ul>			
				<p>Mindezek je&shy;gyé&shy;ben az a&shy;láb&shy;bi&shy;a&shy;kat ga&shy;ran&shy;tál&shy;juk:</p>
				<ul>
					<li>min&shy;den mun&shy;ka&shy;kör to&shy;bor&shy;zá&shy;sá&shy;ra, be&shy;töl&shy;té&shy;sé&shy;re fix á&shy;ras a&shy;ján&shy;la&shy;tot biz&shy;to&shy;sí&shy;tunk, a&shy;mi&shy;vel kon&shy;kré&shy;tan tud ter&shy;vez&shy;ni a meg&shy;ren&shy;de&shy;lő</li>
					<li>3 mun&shy;ka&shy;na&shy;pon be&shy;lül í&shy;rás&shy;ban be&shy;mu&shy;tat&shy;juk a po&shy;ten&shy;ci&shy;á&shy;lis je&shy;löl&shy;te&shy;ket, a&shy;ki&shy;ket in&shy;ter&shy;jú&shy;zni ter&shy;ve&shy;zünk</li>
					<li>5 mun&shy;ka&shy;na&shy;pon be&shy;lül biz&shy;to&shy;sít&shy;juk az el&shy;ső le&shy;in&shy;ter&shy;júz&shy;ta&shy;tott és meg&shy;fe&shy;le&shy;lő pá&shy;lyá&shy;zót</li>
					<li>i&shy;par&shy;ági sza&shy;kér&shy;tő&shy;ink kap&shy;cso&shy;lati há&shy;ló&shy;ja je&shy;len&shy;leg 120.000 fő dip&shy;lo&shy;más pá&shy;lyá&shy;zót fog&shy;lal ma&shy;gá&shy;ba össze&shy;sen, és kö&shy;zel 1.000.000 mun&shy;ka&shy;vál&shy;la&shy;lót érünk el or&shy;szá&shy;gos szin&shy;ten</li>
					<li>3 hó&shy;na&shy;pos pszi&shy;cho&shy;ló&shy;gi&shy;a&shy;i után kö&shy;ve&shy;tés (tesz&shy;tek&shy;kel, mo&shy;ti&shy;vá&shy;ci&shy;ós be&shy;szél&shy;ge&shy;té&shy;sek&shy;kel)</li>
					<li>mun&shy;ka&shy;jo&shy;gi és a&shy;dó&shy;sza&shy;kér&shy;tő&shy;i ta&shy;ná&shy;csa&shy;dás</li>
					<li>3-9 hó&shy;nap ga&shy;ran&shy;cia</li>
					<li>si&shy;ker&shy;dí&shy;jas kon&shy;struk&shy;ci&shy;ó</li>
				</ul>
				<p>Te&shy;kint&shy;sük át kö&shy;zö&shy;sen, mi&shy;lyen HR stra&shy;té&shy;gi&shy;ával tud cé&shy;ge is pro&shy;fi&shy;tál&shy;ni a je&shy;len&shy;le&shy;gi idő&shy;szak&shy;ból. Kon&shy;zul&shy;tál&shy;junk min&shy;den kö&shy;te&shy;le&shy;zet&shy;tség nél&shy;kül!</p>
			</columns>
		</row>
		<row class="outro">
			<columns large="3" class="outro-image">
				<center>
					<img class="szakmai-vezeto" src="https://aarenson.hu/wp-content/uploads/hirlevel-kepek/aniko.petho.jpg" alt="">
				</center>
			</columns>
			<columns large="9" class="outro-text">
				<br />
				<p>Bíz&shy;zon vál&shy;ság&shy;ke&shy;ze&shy;lő ru&shy;ti&shy;nunk&shy;ban, és a kö&shy;zös si&shy;ker&shy;ben!</p>
				<p>Ke&shy;res&shy;sen min&shy;ket bi&shy;za&shy;lom&shy;mal!</p>
				<p>Pethő Anikó szak&shy;ma&shy;i ve&shy;ze&shy;tő:</p>
				<p><a href="mailto:aniko.petho@aarenson.hu">aniko.petho@aarenson.hu</a></p>
				<p><a href="https://www.linkedin.com/in/pethoaniko/">https://www.linkedin.com/in/pethoaniko/</a></p>    
			</columns>
		</row>
	</container>